

<link rel="stylesheet" href="/stylesheets/navbar.css" />
<nav>
    <div class="logo" id="logo">
        BlackBoard
    </div>
    <div class="nav-link" id="link-to-home">
    <a href="/blackboard" style="text-decoration: none; color: white;">Home Page</a>
    </div>
    <div class="nav-link" id="link-to-home">
    <a href="/blackboard/classrooms" style="text-decoration: none; color: white;">My Classrooms</a>
    </div>
</nav>