

<link rel="stylesheet" href="/stylesheets/navbar.css" />
<nav>
    <div class="logo" id="logo">
        BlackBoard
    </div>
    <div class="nav-link" id="link-to-home">
    <a href="/blackboard" style="color: white;" id="home-link">Home Page</a>
    </div>
    <div class="nav-link" id="link-to-home">
    <a href="/blackboard/classrooms" style="color: white;" id="classroom-link">My Classrooms</a>
    </div>
</nav>