<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlackBoard App</title>
</head>
<body>
    <%- include('./partials/_navbar.ejs') %>
    <h1>Welcome to Blackboard!</h1>
    <h2>The mobile gradebook for teachers!</h2>
    <div>
        <a href="/blackboard/classrooms">Get Started!</a>
    </div>
</body>
</html>