<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Class</title>
</head>
<body>
    <h1>Add a New Class</h1>
    <form action="/blackboard/classrooms" method="POST">
        <label for="name">Class Name: </label>
        <input type="text" name="className" id="className" required maxLength="75"/>
        <button type="submit">Submit</button>
    </form>
    <a href="/blackboard/classrooms">Back to Classrooms!</a>
    <a href="/blackboard">Back to home!</a>
</body>
</html>