@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 110vh;
    align-items: center;
    background-color: white;
    color: black;
    margin: 0;
    font-family: "Quicksand", sans-serif;
    font-size: 28px;
}

.div-card{
    display: flex;
    width: 80vw;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(254, 227, 187);
    margin: 20px;
    border: 3px solid black;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

.div-card:hover {
    border: 5px solid rgba(49, 153, 91);
    transition: .1s;
}

.add-button {
    padding: 17px 20px;
    border: 1px solid rgb(222, 222, 222);
    border-radius: 10px;
    background-color: #f8f9f8;
    margin: auto;
    font-family: "Quicksand", sans-serif;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.5);
}

.add-button:hover {
    border: 5px solid rgba(49, 153, 91);
    transition-duration: .3s;
}

#classroom-actions {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    width: 50vw;
    margin: 20px 20px 30px 60px;
    border: 1px solid rgb(222, 222, 222);
    border-radius: 20px;
    padding: 10px 40px;
    font-size: 20px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
}

#delete-button {
    padding: 10px 13px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #f61010;
    color: white;
    margin: 20px;
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

#delete-button:hover {
    border: solid rgb(255, 255, 255);
    transition-duration: .3s;
}

#student-list{
    display: flex;
    width: 50vw;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    margin: 20px 20px 20px 50px;
    border: 3px solid rgb(222, 222, 222);
    border-radius: 5px;
    padding: 30px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}


.button-div {
    display: flex;
    width: 15vw;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    margin: 5px;
    border: 3px solid rgb(223, 223, 223);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

.button-div:hover {
    border: 5px solid rgba(49, 153, 91);
    transition-duration: .3s;
}

li {
    margin:5px;
}

#student-link:hover {
    text-decoration: underline rgba(49, 153, 91);
    transition-duration: .3s;
}

a {
    text-decoration: none;
}
