@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');


nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:flex-end;
    padding: 16px;
    width: 100vw;
    color: white;
    background: #145e1a;
    background: linear-gradient(90deg,rgba(20, 94, 26, 1) 0%, rgba(49, 153, 91, 1) 50%, rgba(56, 140, 140, 1) 100%);
    font-family: "Quicksand", sans-serif;
    font-size: 28px;
}

#logo {
    font-family: "Homemade Apple", cursive;
    font-weight: 400;
    font-style: normal;
    margin-bottom: -17px;
}

a {
    text-decoration: white;
}