<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/forms.css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Class</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Edit Class Info</h1>
    <div class="div-card">
    <form action="/blackboard/classrooms/<%= classroom._id %>?_method=PUT" method="POST">
        <label for="name">Class Name: </label>
        <input type="text" name="className" id="className" required maxLength="75" value="<%= classroom.className %>"/>
        <button type="submit">Submit</button>
    </form>
    </div>
</body>
</html>