<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classrooms</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Your Classrooms!</h1>
        <ul>
            <li>
            <% classrooms.forEach((classroom) => { %>
                <a href="/blackboard/classrooms/<%= classroom._id %>">
                    <%= classroom.className %>
                </a> 
            <li>
                <% }); %>
        </ul>
    <div>
        <a href="/blackboard/classrooms/new">Add a Classroom</a>
    </div>
</body>
</html>