<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/index.css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classrooms</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Your Classrooms!</h1>
        <ul style="list-style-type: none;">
            <% classrooms.forEach((classroom) => { %>
                <div class="div-card">
                <li>
                <a href="/blackboard/classrooms/<%= classroom._id %>" style="color: black;">
                    <%= classroom.className %>
                </a> 
            </li>
            </div>
                <% }); %>
        </ul>
    <div>
        <a href="/blackboard/classrooms/new" class="add-button" style="color: black">Add a Classroom</a>
    </div>
</body>
</html>